apiVersion: v1
kind: Service
metadata:
  name: runcluster-nginx
  labels:
    run: my-nginx
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 80
    protocol: TCP
    name: http
  - port: 443
    targetPort: 80
    protocol: TCP
    name: https
  selector:
          run: my-nginx
